<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Тест Шульте</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>